[submodule "dotfiles-work"]
	path = dotfiles-work
	url = https://github.com/Lyndros/dotfiles-work.git
[submodule "dotfiles-personal"]
	path = dotfiles-personal
	url = https://github.com/Lyndros/dotfiles-personal.git
